<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f8f9fa;
        color: #343a40;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    main {
        text-align: center;
        padding: 50px 20px; 
    }

    h2 {
        color: #007bff; 
    }

    h4, h6 {
        color: #6c757d; 
    }
</style>
<body>

    <main>
        <h2>Benvenuto nella nostra pizzeria!</h2>
        <h4>Effettua l'accesso per poter visualizzare il menù e ordinare</h4>
        <h6>E' la prima volta qui? @Html.ActionLink("Registrati subito!", "Register", "Auth")</h6>
    </main>

</body>